/* Date: 6/26/17 
   Author: Oscar Parra
*/
body{
  width: 100%;
  height: 100vh;
  margin-top: none;
}
.container{
  margin-top: none;
  width:100%;
  height:100vh;
  background-color: white;
}



  .list{
    list-style: none;
  }

  @media (min-width: 300px) and (max-width: 700px){
    .nopadding {
      padding: 0 !important;
      margin: 0 0 0 10 !important;
      width: 45%;
    }
    .oscar-img{
      width: 150px;
      height: 260px;
    }

  }

  @media (min-width: 701px) and (max-width: 1199px){
    .nopadding {
      padding: 0 !important;
      margin: 0 !important;
      width: 80%;
    }
    .oscar-img{
      width:300px;
      height:400px;
    }

  }


@media (min-width: 1200px){
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
    width: 45%;
  }
  .oscar-img{
    height: 100vh;
  } 
}



.span-see-more{
  cursor: pointer;
  color: #236b8e;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  float: right;
}

.header-h1{
  margin-left: 5px;
}

.header-ul{
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 5px; 

}

.hd-item{
  float: left;
  padding-right: 12px;
}

.job-desc{
  margin-top: 7px;
}

.social-icon{
  color:#a8a8a8;
  margin-bottom: 10px;
}

.content-ul{
  padding-left: 20px;
}

.content-div{
  margin-right: 0;
  border: 2px;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color:black;
}
.p-about{
  font-size: 16px;
  padding-left: 18px;
}
.exp-ul{
  display: inline-block;
  padding-left: 18px;
}

.exp-list{
  float:left;
  list-style: none;
  padding-right: 15px;
  height: 80px;
}

.exp-place{
  font-size: 16px;
  font-weight: 700;
}

h1{
  font-weight: 900;
}

h2{
  margin-top: 0;
}

h4{
  display: inline-block;
  color: #6a6a6a;
  font-weight: 700;
  font-size:20px;
  padding-left: 5px;
}

p {
  margin-bottom: 25px;
}












