 /* Navigation at top of file */    
      div.relative{
        margin-left:250px;
        position: relative;
        top: 25px; 
      }

      nav ul li{
        list-style-type: none; 
        display: inline;
        padding-left: 20px;
        padding-right: 20px;
      }
    
     /* Navigation links design */ 

      nav a{
        color: black;
        text-decoration: none;
      }

      .img-responsive{
        display: block;
        margin: 0 auto; 
        max-width: 100%; 
        max-height: 100%;
        /* -webkit-transform: rotate(90deg); */
      }
      
      .center-block {
        height: 475px;
        max-width: 100%; 
        max-height: 100%;
      }
      
      .node{
        position: relative;
        top: 300px;
        float:left;
      }

      /* timeline.html css for timeline */ 

      div.timeline{
        position: relative;
        top: 150px;
        width:1300px;
        height: 200px;"
      }

      /* Dropdown Buttons */
.dropbtn {
    background-color:#e65c00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn2 {
    background-color:#2E8B57;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn3 {
    background-color:#BA064E;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown buttons on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #e65c00;
}

.dropbtn2:hover, .dropbtn2:focus {
  background-color: #2E8B57;
}

.dropbtn3:hover, .dropbtn3:focus {
  background-color: #BA064E;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.row{ 
  margin-top:50px;
}

.two{ 
  margin-top:100px;
} 

.nav-margins{
  /*text-align:center; */ 
  margin: 50px 50px 50px 50px;
}

.nav-items{ 
  padding-left:15px;
  padding-right:15px;
}
.nav-btns{
  padding-left: 10px; 
  padding-right: 10px;
}

.row .about{
  text-align: center;
}

.center-block{
  display: block;
  margin: 0 auto;
}

.text-adjust{
  display: block;
  margin: 0 auto;
}
.p-link{
  color: black;
  text-decoration: underline;
}
nav .p-link a:hover{
  color: black;
  text-decoration: none;
}

.navbar{
  position:absolute; 
}