
body{
  background: #07889B;  /*Ivory Black */
}
button{
  background: #009ACD;
  border-color:   #009ACD;
  position: relative;
  margin: 0 auto;
  margin-left: 5px;
  border-radius: 10px;
  margin-top: 5px;
  color:black;
}

button:hover{
  cursor: pointer;
}

.name{
  color:#000000;
  text-align: center; 
  padding-top: 30px;
}
.container{
  display: -webkit-flex;
  flex-direction: row;
}
.top-half{
  background-color: #E37222;
  display:inline-block;
  position: relative;
  width: 100%;
  height: 300px;
  margin-right: 10px;
  margin-left: 20px;
  padding-bottom: 10px;
}
.right-half{
  background-color: #66AB8C;
  display:inline-block;
  position: relative;
  width: 100%;
  height: 300px;
  margin-right: 60px;
  margin-left: 20px;
}
.first-box{
  background-color: #4ABDAC;
  display:inline-block;
  position:relative;
  width:inherit;
  margin-right: 0px;
  margin-left: 20px;
}
.sec-box{
  background-color:#E24E42;
  display:inline-block;
  position: relative;
  margin-right: 10px;
  margin-left: 20px;
}
.third-box{
  background-color: #F7B733;
  display:inline-block;
  position: relative;
  margin-right: 50px;
  margin-left: 20px;
}

.prop{ /*Prussian blue */
  margin-top: 8px;
  border-style: solid;
  border-color:  black;
}

.prop2{
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border-style: solid;
  border-color: black;
}

.text{
  font-family: 'Ubuntu', serif;
  color: #000000;  /*Gold Leaf */
  font-size: 24px;
  padding-left: 10px;
}

.text2{
  font-family: 'Ubuntu', serif;
  color: #000000; /* Gold leaf */
  font-size: 20px;
  padding-left:10px;
}

#desc { 
  background: #0B3C5D;
  width:100%; 
  height:88%; 
  display:none; 
  position:absolute;
  bottom: 0;
  text-align: center;
}

.icon-set{
  width: inherit;
  margin-left: 20px;
}

.prog-icon {
  font-size: 10rem;
}

#desc2{ 
  background:#0B3C5D;
  width:100%; 
  height:88%; 
  display:none; 
  position:absolute;
  bottom: 0;
  text-align: center;

}

#desc3 { 
  background: #0B3C5D;
  width:100%; 
  height:86%; 
  display:none; 
  position:absolute;
  bottom: 0;
  text-align: center;
}

#desc4{ 
  background: #0B3C5D;
  width:100%; 
  height:86%; 
  display:none; 
  position:absolute;
  bottom: 0;
  text-align: center;
}

#desc5 { 
  background: #0B3C5D;
  width:100%; 
  height:86%; 
  display:none; 
  position:absolute;
  bottom: 0; 
  text-align: center; 
}

.txt-desc{
  font-family: "Ubuntu",serif;
  color: white;
  font-size: 18px;
  padding-left: 10px;
}

.txt-desc2{
  font-family: "Ubuntu",serif;
  color: white;
  font-size: 18px;
  padding-left: 10px;
}

p.txt-desc-both{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.box{
  display:block;
  text-align: center;
}


.box img{
  /*display:inline-block;*/
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  position: relative;
  margin-top: -1%;
  max-width: 100%;
}

div.images{
  width:inherit;
}

div.top{
  margin-left: 5%;
}

.img-box{
  display:inline-block;
}

div.cal-teach2{
  padding-top: 10px;
   clear: both;
   vertical-align: bottom;

}

img.all-star{
  height:100px;
  width:100px;
}

img.ucsc{
  height:100px;
  width:100px;
}

img.cal-teach{
  padding-top:0px;
  height:100px;
  width:300px;
}

div.algorithms-images{
  width:300px;
}

.algo-imgs{
  height:80px;
  width:80px;
}
/*Sub page content */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 300px) { 
   .prog-icon{
    font-size:5rem;
  }
  .text-content{
    width: 300px;
  }

 }

  @media (min-width: 500px) { 
   .prog-icon{
    font-size:7rem;
  }
   .text-content{
    width: 450px;
  }

 }


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   .prog-icon{
    font-size:7rem;
  }
   .text-content{
    width: 600px;
  }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
   .prog-icon{
    font-size:5rem;
  }

  img.cal-teach{
    width:240px;
  }
  p.right{
    width:275px;
  }
  .text-content{
    width: 800px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .prog-icon{
    font-size:7rem;
  }
  .text-content{
    width: 1000px;
  }

}
div.items{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


/* CSS for subcontent */ 


.text-content{
  font-size:20px;
  color:white;
}

.fa-envelope-o.first{
  font-size:10em;
}

.close-btn{
} 

.close-span{
  color: white;
}

a:link{
  color: black;
  text-decoration: none;
}

.sub-content-header{
  text-align: center;
}