<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oscar misses Rishika</title>

    <!-- Vuejs CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    
    <!-- jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="style.css" />

</head>

<body>
    <div id="app">
        <div v-if="showCouple" id="outer">
            <div id="inner">
                <h1> <span id="rName">Oscar</span> misses  <span id="oName">Rishika</span> </h1>
                <img id="couple-pic" src="rbirthday.jpg" width="450px" />
                <p> {{message}} </p>
                <button v-on:click="toggle(2)" class="hvr-bob"> Cute Cat[s] Please</button>
            </div>
        </div>
        <div v-if="showCats" id="outer">
            <div id="inner">
                <h1> <span id="rName">Rishika</span> visits <span id="oName">Oscar</span> soon!</h1>
                <img id="cat-gif" src="rbirthday.jpg" width="450px" />
                <p>{{message}} </p>
                <button v-on:click="toggle(1)" class="hvr-bob"> Cute Couple Please</button>
            </div>
        </div>
    <div>
</body>
<script src="main.js"></script>

</html>